<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <%- include('partials/head')%>
</head>

<body>
    <%- include('partials/navigation')%>
        <main class="vh-100 container pt-300 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="text-white display-1">About</h1>
                <p class="text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi eaque ullam
                    possimus cum, voluptatem iusto nisi quos dolores commodi asperiores sit alias ad officiis
                    praesentium quam magnam explicabo itaque. Tenetur repudiandae aperiam saepe provident commodi
                    accusamus adipisci veniam nisi impedit amet. Veritatis, iusto nesciunt. Est ipsum animi deleniti,
                    quos necessitatibus quibusdam distinctio amet omnis eos iure impedit aliquam delectus odit
                    cupiditate laboriosam quam natus voluptate atque similique at enim tenetur adipisci nam? Sapiente
                    esse, officia quibusdam fugiat fugit quisquam cumque eveniet praesentium labore, pariatur dolorem
                    repellendus assumenda rem et impedit. Maiores, beatae doloremque veritatis distinctio rem similique
                    accusamus, nam itaque enim, odit corporis laborum numquam. Esse, veritatis facilis? Libero
                    laudantium vitae hic labore consequatur optio veritatis at voluptates cupiditate ea repellat magnam
                    molestiae unde, explicabo necessitatibus non. Voluptas laborum voluptatibus neque voluptatem
                    dolorum, sed mollitia nihil libero doloribus asperiores. Velit ab ducimus in aliquid. Non eos
                    excepturi ducimus earum delectus ipsam, vitae eius eaque ratione omnis expedita accusantium nesciunt
                    accusamus quisquam provident deserunt magni! Dicta cumque sit ullam asperiores fugit quos corrupti
                    dolorem, temporibus magnam necessitatibus repellat eum perferendis sunt vel dolores pariatur ipsum
                    ex illo culpa quibusdam sequi, aliquam assumenda modi! Ullam rem nostrum nisi tempora, ducimus quis
                    tenetur.</p>
                <%- include('partials/footer')%>
            </section>
        </main>
</body>

</html>