<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head')%>
</head>
<body>
    <%- include('partials/navigation')%>
    <header class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="flex-colum justify-content-center align-items-center ">
            <img src="/img/logo.png" alt="" class="w-100" srcset="">
            <h1 class="display-1 my-5 text-uppercase fw-bold text-white">Stephano</h1>
            <a href="/about" class="btn btn-success w-100">About</a>
        </div>
    </header>
    <%- include('partials/footer')%>
    
</body>
</html>